<%- include ('partials/header')%>
<!-- Hero section -->
<section class="hero-section">
  <div class="container d-flex-column justify-content-center">
    <div class="image-background"></div>
    <div class="p-2 bd-highlight">
      <h1>Tu donativo <b>puede</b> cambiar una vida</h1>
    </div>
    <div class="d-flex justify-content-evenly mt-5">
      <button type="button" class="btn btn-warning">Quiero donar</button>
      <button type="button" class="btn btn-warning">Más información</button>
    </div>
  </div>
</section>

<section class="call-to-action">
  <h2>!Puedes donar directamente en nuestra WishList de Amazon!</h2>
  <h3>Solo da clic en la opción que prefieras</h3>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img
          src="https://dejandohuellascancun.org/wp-content/uploads/2024/07/Donaciones-1024x673.webp"
          alt="Perro pidiendo ayuda"
        />
        <h3>Dona Croquetas</h3>
        <p>
          Tus donaciones nos ayudan a poder proporcionar alimentos, atención
          médica y un hogar temporal a los animales rescatados.
        </p>
        <a
          href="https://www.amazon.com.mx/hz/wishlist/ls/18JKG74LSFCCX?ref_=wl_share"
          class="btn btn-primary"
          role="button"
          >Quiero donar</a
        >
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src="https://dejandohuellascancun.org/wp-content/uploads/2024/07/Donaciones-1024x673.webp"
          alt="Perro pidiendo ayuda"
        />
        <h3>Dona Accesorios</h3>
        <p>
          Tus donaciones nos ayudan a poder proporcionar alimentos, atención
          médica y un hogar temporal a los animales rescatados.
        </p>
        <a
          href="https://www.amazon.com.mx/hz/wishlist/ls/18JKG74LSFCCX?ref_=wl_share"
          class="btn btn-primary"
          role="button"
          >Quiero donar</a
        >
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src="https://dejandohuellascancun.org/wp-content/uploads/2024/07/Donaciones-1024x673.webp"
          alt="Perro pidiendo ayuda"
        />
        <h3>Dona Articulos de higiene</h3>
        <p>
          Tus donaciones nos ayudan a poder proporcionar alimentos, atención
          médica y un hogar temporal a los animales rescatados.
        </p>
        <a
          href="https://www.amazon.com.mx/hz/wishlist/ls/18JKG74LSFCCX?ref_=wl_share"
          class="btn btn-primary"
          role="button"
          >Quiero donar</a
        >
      </div>
    </div>
  </div>
</section>
<hr>
<h1>Tu apoyo es fundamental para que podamos continuar rescatando y cuidando a perros y gatos abandonados. Aquí te presentamos tres maneras sencillas en las que puedes colaborar con nosotros y marcar una verdadera diferencia en la vida de estos animales.

</h1>

<%- include ('partials/footer')%>
